{% extends 'admin/master.html' %}
{% block body %}
<h1 class="text-center mt-2">Thong Ke Bao Cao</h1>
<div class="row">
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>
<script>
    window.onload = () => {
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}